<div class="w3-container w3-margin w3-centered">

<table class=" w3-table w3-card-4 w3-bordered w3-striped">

      <tr class="w3-large w3-theme-d4">
        <th>Id</th>
        <th>Name</th>
        <th>Medium</th>
        <th>Compound</th>
        <th>Zeit</th>
        <th>Frequenz</th>
      </tr>

      <tr
      *ngFor = "let  program of appStateService.allPrograms"
      [routerLink]="['/programDetail', program]"
      class="w3-hover-theme"
      >
      <td>{{program.Id}}</td>
      <td>{{program.Name}}</td>
      <td>{{program.Medium}}</td>
      <td>{{program.Compound}}</td>
      <td>{{program.Frequency}}</td>
      <td>{{program.Time}}</td>

      </tr>



</table>
</div>
