
<div class="w3-bar w3-margin">
  <button type="button" name="button"
  class="w3-bar-item w3-btn w3-green"
  (click)="setDeviceCreated()"
  >Created</button>

  <button type="button" name="button"
  class="w3-bar-item w3-btn w3-orange "
  (click)="setDeviceReady()"
  >ready</button>

  <button type="button" name="button"
  class="w3-bar-item w3-btn w3-red "
  (click)="setDeviceProcessing()"
  >processing</button>

  <button type="button" name="button"
  class="w3-bar-item w3-btn w3-red "
  (click)="setDeviceError()"
  >Error</button>

</div>

<div
[ngSwitch]="deviceActive"
class="">

<button *ngSwitchCase="false" (click)="activateDevice()"  class="w3-btn w3-third w3-teal w3-padding w3-round" type="button" name="button">On</button>
<button *ngSwitchCase="true" (click)="deactivateDevice()" class="w3-btn  w3-third w3-red w3-padding w3-round" type="button" name="button">Off</button>

</div>

<div class="w3-bar w3-half w3-margin">
  <button (click)="decreaseFrequency()" class="w3-bar-item w3-btn w3-teal" type="button" name="button"><</button>
  <div class="w3-bar-item">{{manualFrequency}}
  </div>
  <button (click)="increaseFrequency()" class="w3-bar-item w3-btn w3-teal" type="button" name="button">></button>
</div>
