

<div
  [ngSwitch]="selectedFormPage"
 class="FromCard w3-card-4 w3-margin-top w3-margin w3-center w3-padding-16 w3-round-large w3-display-container" >



<form class="w3-padding"
[formGroup]="newProgram"
>
<div class="firstPage"
*ngSwitchCase="0"
>
  <div class="w3-row w3-padding w3-margin">
    <h2 class="w3-third">Name</h2>
    <input class="w3-third w3-xlarge" formControlName="Name" type="text" name="" value="">
    <button (click)="modifyAttr('Name')" class="w3-btn w3-padding-4 w3-teal w3-xlarge w3-round" type="button" name="button">Save</button>
  </div>
  <div class="w3-row w3-padding w3-margin">
    <h2 class="w3-third">Medium</h2>
    <input class="w3-third w3-xlarge" formControlName="Medium" type="text" name="" value="">
    <button (click)="modifyAttr('Medium')" class="w3-btn w3-padding-4 w3-teal w3-xlarge w3-round" type="button" name="button">Save</button>
  </div>
  <div class="w3-row w3-padding w3-margin">
    <h2 class="w3-third">Compound</h2>
    <input class="w3-third w3-xlarge" formControlName="Compound" type="text" name="" value="">
    <button (click)="modifyAttr('Compound')" class="w3-btn w3-padding-4 w3-teal w3-xlarge w3-round" type="button" name="button">Save</button>

  </div>
  <button style="height: 60%" class=" w3-margin-8 w3-theme-d4 w3-round-large w3-xlarge w3-btn w3-display-topright" (click)="nextPage()"  type="button" name="button">></button>

</div>
<div class="secondpage"
*ngSwitchCase="1"
>
<div class="w3-row w3-padding w3-margin">
  <h2 class="w3-third">Time</h2>
  <input class="w3-third w3-xlarge" formControlName="Time" type="text" name="" value="">
  <button (click)="modifyAttr('Time')" class="w3-btn w3-padding-4 w3-teal w3-xlarge w3-round" type="button" name="button">Save</button>
</div>
<div class="w3-row w3-padding w3-margin">
  <h2 class="w3-third">Frequency</h2>
  <input class="w3-third w3-xlarge" formControlName="Frequency" type="text" name="" value="">
  <button (click)="modifyAttr('Frequency')" class="w3-btn w3-padding-4 w3-teal w3-xlarge w3-round" type="button" name="button">Save</button>
</div>
  <button style="height: 60%"class=" w3-margin-8 w3-theme-d4 w3-round-large w3-xlarge w3-btn w3-display-topleft" (click)="prevPage()"  type="button" name="button"><</button>
</div>
<div class=" w3-center  w3-block  ">
  <button class="   w3-left w3-margin-8 w3-red w3-round-large w3-xlarge w3-btn " (click)="deleteProgram()"  type="button" name="button">Delete</button>
  <button class="  w3-center w3-margin-8 w3-theme-d4 w3-round-large w3-xlarge w3-btn " (click)="setDefaultValues()"  type="button" name="button">Reset</button>
  <button class="  w3-right w3-margin-8 w3-theme-d4 w3-round-large w3-xlarge w3-btn " (click)="goTolistView()"  type="button" name="button">List View</button>
</div>

</form>

</div>
